body{
	color: gray;
	text-decoration: none;
	}
a{
	color: gray;
	text-decoration: none;
}
a:hover{
	color: black;
}
p:hover{
	outline: 1px solid gray;
	text-decoration: none;
}
p {
	text-align: center;
}